html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: black;
    color: white;
    font-size: 16px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    color:#ebff00;
    font-size: 2rem;
}

h3 {
    text-transform: uppercase;
    color:#ebff00;
    font-size: 1.6rem;
}

/* ----- header section ------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.logo {
    margin-left: 3rem;
    flex-shrink: 3;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-shrink: 1;
    flex-wrap: wrap;
    min-width: 430px;
}

.menu-li{

}

.menu a {
    text-transform: uppercase;
    margin: 0.6rem;
    font-weight: 500;
    text-decoration: none;
    color: #ebff00;
}

.menu a:hover {
    text-transform: uppercase;
    margin: 0.6rem;
    text-decoration: none;
    color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.contacts-header {
    margin-right: 3rem;
    color:#ebff00;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts-header ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

.contacts-header li {
    margin: 0.8rem;
    font-size: 1rem;
    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;
    font-weight: 800;
}

.contacts-header a {
    font-size: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color:#ebff00;
    font-weight: 800;
}

.contacts-header a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.contacts-header img{
    margin-right: 4px;
    height: 1rem;
}

@media screen and (max-width: 1250px){
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .menu {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .contacts-header {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        font-size: 0.8rem;
    }

    .contacts-header ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .contacts-header li {
        text-align: center;
    }

    .contacts-header li a {
        text-align: center;
    }

}

@media screen and (max-width: 768px){
    header {
        display: flex;
        flex-direction: column;
    }

    .menu {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .menu li {
        margin: 0.5rem 0;
    }

    .contacts-header ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .contacts-header li {
        text-align: center;
        font-size: 0.75rem;
        margin: 0.3rem;
    }

    .contacts-header li a {
        text-align: center;
        font-size: 0.75rem;
    }
}

/* ----- main section ------- */

.about {
    margin: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../images/0003.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35rem;
    margin: 2rem;
}

.info-content {
    background-color: #ebff00;
    color: black;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    white-space: normal;
    word-break: keep-all;
    width: 35%;
    height: auto;
    max-height: 90%;
    padding: 1rem;
    opacity: 0.75;
    border-radius: 10px;
    overflow: wrap;
}

.nowrap {
    white-space: nowrap;
}

.info-content h1{
    font-size: 1.5rem;
    white-space: normal;
    font-weight: 900;
}

.info-content h6 {
    margin: 0;
    font-size: 1.25rem;
}

@media screen and (max-width: 768px){
    .info-content {
        width: 70%;
        height: auto;
        font-size: .9rem;
    }
}

/* ------------- vehicles -----*/
.vehicles {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.vehicles-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 2rem;
    flex-wrap: wrap;
    gap: 1rem 0;
}

.vehicles-container ul {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vehicles-container ul li {
    list-style-type: none;
    font-size: 1.25rem;
    text-align: center;
    margin: 0.3rem 0;
    width: auto;
}

.vehicle {
    width: 25%;
    min-width: 370px;
    height: 300px;;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}


#tahac {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("../images/tahac.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

#plachta {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("../images/skrin.jpg"); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

#dodavka {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("../images/dodavka.jpg"); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

#naves {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("../images/naves.png"); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------- contacts ----------*/

.contacts-section {
    margin-top: 2rem;
}

.contacts-frame {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map {
    width: 90%;
    height: auto;
    position: relative;
    margin: 2rem 2rem;
}

.map iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contacts {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 380px;
    flex-direction: column;
    margin: 0 auto;
}

.contacts h3 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    text-align: center;
}

.contacts strong {
    font-size: 1.1rem;
}

.contacts li {
    list-style-type: none;
    margin: 0.3rem 0;
}

.contacts a {
    text-decoration: none;
    color: whitesmoke;
}

@media screen and (max-width: 1250px){
    .contacts-frame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    
    .map iframe {
        height: 300px; 
    }
}

.job {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.job p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-page {
    margin-top: 4rem;
    background-color: #ebff00;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.9;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 2rem;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 2rem;
}

@media screen and (max-width: 1250px){
    .footer-page {
        margin-top: 4rem;
        background-color: #ebff00;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
    }
    .right {
        display: flex;
        justify-content: flex-end;
        margin: 0 2rem;
    }
}